<% layout(layoutPath) -%>

<div class="col-xs-10">
    <h2><%= test.name %></h2>

    <h4>Site: <a href="/sites/view/<%= site._id %>"><%= site.name %></a></h4>
    <h4>URL: <%= site.urlBase %><%= test.url %></h4><br />

    <%= JSON.stringify(data) %>
</div>